/* TEXT */

.heading {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-size: 100px;
  line-height: 110px;
  position: absolute;
  text-align: left;
  top: 1rem;
  left: 1rem;
  color: #000000;
  z-index: 1;
  margin: 0;
}

.welcome {
  border: 2px solid black;
  padding: 0 4rem;
  z-index: 3;
  background-color: #ffffffcd;
}

.navlinks {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: right;
  bottom: 1rem;
  right: 1rem;
  z-index: 3;
}

.navlinks a {
  padding-right: 0.5rem;
  padding-bottom: 0.15rem;
}

.linkHome {
  font-family: "Roboto Mono", monospace;
  font-weight: 800;
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 0.25rem;

  border-right: 4px solid black;
}

/* BACKGROUND IMAGES AND ANIMATIONS */

.vector {
  z-index: 2;
  position: absolute;
  width: 80%;
  bottom: -1rem;
}
.square {
  position: absolute;
  width: 200px;
  height: 200px;
}

div.squares div:nth-child(4) {
  left: -12%;
  bottom: -1rem;
  border-radius: 50%;
  background: #85b6ff;
}

div.squares div:nth-child(3) {
  left: 12%;
  bottom: 100px;
  background: #ffee58;
}

div.squares div:nth-child(2) {
  right: 15%;
  bottom: 200px;
  border-radius: 50%;
  background: #ff7e76;
}

div.squares div:nth-child(1) {
  right: -15%;
  bottom: 300px;
  background: #4ecb71;
}
