/* Navbar customs */
.h3 {
  transition: background-color 250ms ease-in;
}

.home {
  border-bottom: 3px solid var(--red);
}
.home:hover {
  background-color: var(--red);
}
.about {
  background-color: var(--yellow);
  /* border-bottom: 5px solid black; */
}
.web {
  border-bottom: 3px solid var(--green);
}
.web:hover {
  background-color: var(--green);
}
.photos {
  border-bottom: 3px solid var(--blue);
}
.photos:hover {
  background-color: var(--blue);
}

/* page content */

.introHeader {
  font-weight: 700;
  font-size: 3rem;
}
.introSubHeader {
}

.aboutText {
  width: 60%;
  margin-top: 1em;
}
.aboutText p {
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  font-size: 0.85em;
  font-weight: 400;
  text-align: justify;
  color: #252525;
}

img {
  width: 30%;
}

p {
}

@media screen and (max-height: 650px) {
  img {
    width: 25%;
  }
  .introHeader {
    font-size: 1.5rem;
  }
}

@media screen and (max-height: 550px) {
  img {
    width: 20%;
  }
}
