h3 {
  transition: background-color 350ms ease-in;
}

.home {
  border-bottom: 3px solid var(--red);
}
.home:hover {
  background-color: var(--red);
}
.about {
  border-bottom: 3px solid var(--yellow);
  /* border-bottom: 5px solid black; */
}

.about:hover {
  background-color: var(--yellow);
}
.web {
  background-color: var(--green);
  border-bottom: 3px solid var(--green);
}
.web:hover {
  background-color: var(--green);
}
.photos {
  border-bottom: 3px solid var(--blue);
}
.photos:hover {
  background-color: var(--blue);
}

.gridContainer {
  display: grid;
  flex-grow: 2;
  justify-content: center;
  align-content: center;
  height: 80%;
  min-height: 400px;
  box-sizing: border-box;
  padding: 0.5em;
  width: 90%;
  margin: auto;
  grid-gap: 0.2rem;
  /* border: 1px solid blue; */

  transition-property: width height;
  transition-duration: 0ms;
  transition-timing-function: ease-in;
}

.projectArchiveContainer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 80%;
  min-height: 400px;
  width: 90%;
  margin: auto;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  width: 100%;
  height: 100%;
}

.pageTab {
  display: flex;
  align-self: center;
  width: 9rem;
  align-items: center;
  justify-content: space-between;
}
.footer {
  box-sizing: border-box;
  height: 3.5em;
  width: 100%;
}

@media screen and (max-width: 650px) {
  .gridContainer,
  .projectArchiveContainer {
    min-height: 300px;
  }
}

/* to have a second page for scrolling to check the sizing */
/* 
.second {
  height: 100vh;
  width: 100vw;
  background-color: darkseagreen;
} */

/* .testSpace {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
} */

/* .b1 {
  background-color: var(--blue);
  justify-self: end;
  align-self: end;
}
.b1,
.b2,
.b3,
.b4 > i {
  color: rgb(243, 243, 243);
}

.b1,
.b2,
.b3,
.b4 {
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b2 {
  background-color: var(--yellow);
  justify-self: start;
  align-self: end;
}
.b3 {
  background-color: var(--green);
  justify-self: end;
  align-self: start;
}
.b4 {
  background-color: var(--red);
  justify-self: start;
  align-self: start;
} */
